<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork — Emily Breedlove</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        megina: ['Megina', 'serif'],
                        garamond: ['EB Garamond', 'serif']
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-white text-[#4F2972]">

    <!-- Header -->
    <header class="fixed top-0 left-0 w-full bg-[#CEC2E0] px-4 md:px-8 py-4 md:py-6 flex items-center gap-4 z-50 border-b border-white">
        <a href="/">
            <img src="{{url_for('static', filename='images/Emilylogo.png') }}" alt="Emily Breedlove Logo" class="w-12 h-12 md:w-20 md:h-20 rounded-full" style="mix-blend-mode: multiply;">
        </a>

        <nav class="ml-auto flex gap-4 md:gap-8">
            <a href="/about" class="text-sm md:text-xl font-megina tracking-widest uppercase hover:text-[#4A2880] transition-colors">About</a>
            <a href="/Gallery" class="text-sm md:text-xl font-megina tracking-widest uppercase hover:text-[#4A2880] transition-colors">Gallery</a>
            <a href="{{ url_for('static', filename='images/EmResume.png') }}" target="_blank" class="text-sm md:text-xl font-megina tracking-widest uppercase hover:text-[#4A2880] transition-colors">Resume</a>
        </nav>
    </header>


    <!-- Hero Section -->
    <div class="relative w-full h-[600px]">
        <!-- Background Image -->
        <img src="{{ url_for('static', filename='images/Typoposterproj/Typodesignhero.png') }}" alt="Hero" class="w-full h-full object-cover min-h-[600px]">
        <!-- Overlay -->
        <div class="absolute inset-0 bg-[#CEC2E0] opacity-60"></div>
        <!-- Text on top -->
        <div class="absolute inset-0 flex flex-col justify-center px-4 md:px-16 gap-2 md:gap-4 pt-24">
            <a href="/Gallery" class="text-lg font-garamond tracking-widest uppercase text-[#4A2880] hover:underline">← Back to Gallery</a>
            <h2 class="text-3xl md:text-6xl font-megina text-[#4F2972]">TYPOGRAPHY DESIGN POSTER</h2>
            <p class="font-garamond text-sm md:text-xl text-[#4F2972]">December 2025</p>
            <p class="font-garamond text-sm md:text-xl text-black max-w-2xl">For this project, we explored the work of a type or graphic designer and create a typographic poster that reflects and interprets their distinctive style. Drawing inspiration from their design philosophy, visual characteristics, and historical context, your poster will center around a quote from or about your chosen designer. The goal is not to replicate their work, but to reinterpret their visual voice through our own creative lenses. </p>
        </div>
    </div>

    <!-- Process Section -->
    <div class="w-full border-t border-[#CEC2E0] px-4 md:px-16 py-4 md:py-16" data-aos="fade-up">
        <p class="text-xl md:text-4xl font-megina tracking-widest uppercase text-[#4F2972] mb-4">Process:</p>
        <div class="flex flex-col md:flex-row md:flex-row gap-4 md:gap-8">
            <div class="w-full md:w-1/2">
                <img src="{{ url_for('static', filename='images/Typoposterproj/Process1Typoposter.png') }}" alt="Process 1" class="w-full object-cover mb-4">
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center ml-auto">
                <p><span class="font-garamond text-sm md:text-xl text-[#4F2972]">This project was a struggle for me because wasn't my normal style but it was interesting to learn more about functional designs and used a typeface that I wouldn't have picked off the bat.  </span></p>
            </div>
        </div>

    </div>

    <!-- Iterations Section -->
    <div class="w-full border-t border-[#CEC2E0] px-4 md:px-16 py-8 md:py-16" data-aos="fade-up">
        <p class="text-xl md:text-4xl font-megina tracking-widest uppercase text-[#4F2972] mb-4">Iterations:</p>
        <div class="flex flex-col md:flex-row gap-5 md:gap-10">
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center">
                <img src="{{ url_for('static', filename='images/Typoposterproj/earlyiteration1typopos.png') }}" alt="Iteration 1" class="w-full object-cover mb-4">
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-col items-start">
                <img src="{{ url_for('static', filename='images/Typoposterproj/earlyiteration3typopos.png') }}" alt="Iteration 3" class="w-3/5 object-cover mb-4">
                <img src="{{ url_for('static', filename='images/Typoposterproj/earlyiteration2typopos.png') }}" alt="Iteration 2" class="w-full object-cover mb-4">
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center ml-auto">
                <p><span class="font-garamond text-sm md:text-xl text-[#4F2972]">After sorting through the 20 sketches I made for poster designs. I narrowed it down to 5 which I took into Adobe Illustrator to create more digital iterations. After that I picked the one I thoght had the best layout and fully matched the Bauhaus Movement that Paul Renner favorited. </span></p>
            </div>
        </div>
    </div>

    <!-- Final Iterations Section -->
    <div class="w-full border-t border-[#CEC2E0] px-4 md:px-16 py-4 md:py-16" data-aos="fade-up">
        <p class="text-xl md:text-4xl font-megina tracking-widest uppercase text-[#4F2972] mb-4">Final Iterations:</p>
        <div class="flex flex-col md:flex-row gap-5 md:gap-10">
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center">
                <img src="{{ url_for('static', filename='images/Typoposterproj/lateiteration1typopos.png') }}" alt="Iteration 1" class="w-full object-cover mb-4">
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-col items-center">
                <img src="{{ url_for('static', filename='images/Typoposterproj/lateiteration3typopos.png') }}" alt="Iteration 3" class="w-3/5 object-cover mb-4">
                <img src="{{ url_for('static', filename='images/Typoposterproj/lateiteration2typopos.png') }}" alt="Iteration 2" class="w-full object-cover mb-4">
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center ml-auto">
                <p><span class="font-garamond text-sm md:text-xl text-[#4F2972]">After working through and making sure the quote was the most noticeable thing on the poster, it seemed to flow once I achieved that. It created an interesting hierarchy with function and forms which is exactly what Paul Renner believed in with Futura's creation. With the triangles in the background it really tied the piece together creating a functional but unique design. </span></p>
            </div>
        </div>
    </div>

    <!-- spread Final -->
    <div class="w-full border-t border-[#CEC2E0] px-4 md:px-16 py-4 md:py-16" data-aos="fade-up">
        <p class="text-xl md:text-4xl font-megina tracking-widest uppercase text-[#4F2972] mb-4">Final Design:</p>
        <div class="flex flex-col md:flex-row justify-center">
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center ml-auto mr-12">
                <img src="{{ url_for('static', filename='images/Typoposterproj/spreadtypeposter.png') }}" alt="Final 3" class="w-4/5 object-cover">
            </div>
        </div>
    </div>

    <!-- Final -->
    <div class="w-full border-t border-[#CEC2E0] px-4 md:px-16 py-4 md:py-16" data-aos="fade-up">
        <p class="text-xl md:text-4xl font-megina tracking-widest uppercase text-[#4F2972] mb-4">Final Design:</p>
        <div class="flex flex-col md:flex-row justify-center">
            <div class="w-full md:w-1/2 flex flex-col md:flex-row items-center ml-auto mr-12">
                <img src="{{ url_for('static', filename='images/Typoposterproj/Typoposmock.png') }}" alt="Final 3" class="w-full md:scale-125 object-cover">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w-full border-t border-white bg-[#CEC2E0] px-4 md:px-8 py-6 flex flex-col md:flex-row items-start md:items-center justify-between gap-4">
        <div class="flex flex-col gap-1">
            <p class="text-sm md:text-lg font-megina tracking-widest">emilybreedlove.design@gmail.com</p>
            <a href="https://www.linkedin.com/in/emily-breedlove-989a7b28a/" target="_blank" class="text-sm md:text-md font-garamond tracking-widest uppercase underline hover:text-[#4A2880] transition-colors">LinkedIn</a>
            <p class="text-sm md:text-lg font-megina tracking-widest uppercase font-[#4F2972]">© 2026 Emily Breedlove</p>
        <div>
    </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800,
            once: true
        });
    </script>

    <script>
    let lastScroll = 0;
    const header = document.querySelector('header');

    window.addEventListener('scroll', () => {
        const currentScroll = window.scrollY;

        if (currentScroll > lastScroll && currentScroll > 80) {
            // Scrolling down - hide header
            header.style.transform = 'translateY(-100%)';
            header.style.transition = 'transform 0.3s ease';
        } else {
            // Scrolling up - show header
            header.style.transform = 'translateY(0)';
            header.style.transition = 'transform 0.3s ease';
        }

        lastScroll = currentScroll;
    });
    </script>
</body>
</html>